@model B2S.Core.Entities.Agent
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row">
    <div class="col-md-12">
        <form method="post" id="frmAccount" asp-controller="UserAccount" asp-action="UpdateAgent">
            <div class="box-header with-border">
                <h3 class="box-title">Account Details</h3>
            </div>
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="AgentId" />
                            <input type="hidden" asp-for="InvoiceSettingId" />
                            <input type="hidden" asp-for="IsActive" />
                            <input type="hidden" asp-for="CreatedAt" />
                            <input type="hidden" asp-for="CreatedBy" />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="BusinessName" class="control-label"></label>
                                        <input asp-for="BusinessName" class="form-control" />
                                        <span asp-validation-for="BusinessName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="LegalName" class="control-label"></label>
                                        <input asp-for="LegalName" class="form-control" />
                                        <span asp-validation-for="LegalName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="BusinessNumber" class="control-label"></label>
                                        <input asp-for="BusinessNumber" class="form-control" />
                                        <span asp-validation-for="BusinessNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="ContactName" class="control-label"></label>
                                        <input asp-for="ContactName" class="form-control" />
                                        <span asp-validation-for="ContactName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Phone" class="control-label"></label>
                                        <input asp-for="Phone" class="form-control" />
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Fax" class="control-label"></label>
                                        <input asp-for="Fax" class="form-control" />
                                        <span asp-validation-for="Fax" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label asp-for="Address" class="control-label"></label>
                                    <textarea asp-for="Address" class="form-control"></textarea>
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="City" class="control-label"></label>
                                        <input asp-for="City" class="form-control" />
                                        <span asp-validation-for="City" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Province" class="control-label"></label>
                                        <input asp-for="Province" class="form-control" />
                                        <span asp-validation-for="Province" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Postcode" class="control-label"></label>
                                        <input asp-for="Postcode" class="form-control" />
                                        <span asp-validation-for="Postcode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Country" class="control-label"></label>
                                        <select asp-for="Country" class="form-control" asp-items="new SelectList(B2S.Core.Utilities.CommonHelper.CountryList())">
                                            <option value="">-Select-</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="form-group">
                            <input type="submit" id="submitEmailSetting" value="Update" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
