@model B2S.Core.Entities.UserProfile
@{
    Layout = "~/Views/Shared/_B2SCreate.cshtml";
    ViewData["Title"] = "New User Profile";
    ViewData["Name"] = "User Profile";
    ViewData["CreateInfo"] = "";
}

<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="UserProfileId" />
        <div class="form-group">
            <label asp-for="UserProfileName" class="control-label"></label>
            <input asp-for="UserProfileName" class="form-control" />
            <span asp-validation-for="UserProfileName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

