@{
    ViewData["Title"] = "Failure Payment";
    Layout = "_B2SBlank";
}


<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>Your payment is failed.</h3>
            <h4>Click <a href="@Url.Action("Index", "Booking")">here</a> to go back booking screen.</h4>
        </div>
    </div>
</div>